.aso {
    background-color: yellow;
}

.bbdd {
    background-color: rgb(53, 124, 175);
}

.progra {
    background-color: green;
}

.marques {
    background-color: orange;
}

.iso {
    background-color: violet;
}

.fm {
    background-color: gray;
}

.sx {
    background-color: rgb(119, 38, 38);
}

.tutoria {
    background-color: pink;
}
